
  <ion-content>
    <div class="background-image"></div>
    <ion-tabs>
    
    <ion-tab-bar  slot="bottom">
      
      <ion-tab-button  routerLink="/schedule-client" tab="Agendar Cita">
        <ion-icon name="folder-open-outline"></ion-icon>
        Agendar Cita
      </ion-tab-button>
      <ion-tab-button routerLink="/client-page" tab="Home">
        <ion-icon name="home-Outline"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button routerLink="/citas-client" tab="Ver Citas">
        <ion-icon name="person-Outline"></ion-icon>
        Perfil
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
  </ion-content>
