
<ion-content fullscreen class="welcome-content">
  <!-- Imagen de fondo -->
  <div class="background-image"></div>

  <!-- Contenedor de texto y botones superpuestos -->
  <div class="overlay-content">
    <h1 class="welcome-label">Bienvenido</h1>
    <ion-button class="ion-button1" [routerLink]="['/login']"  expand="block" color="primary">Iniciar Sesión</ion-button>
    <ion-button class="ion-button2" [routerLink]="['/signup']" expand="block" color="secondary">Registrarme</ion-button>
  </div>
</ion-content>

      
    



 
